@model IEnumerable<EntertainmentDataAccess.Event>
@using System.Collections.Generic;
@using System.Web.Script.Serialization;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "About";
}

<style>


</style>

<h1>Entertainment Options For @DateTime.Now.DayOfWeek.ToString().</h1>
<h3>Week days can be fun too we promise.</h3>
<p>If you'd like to plan ahead and view entertainment in advance please register & create an account!</p>
<div align="right">
    @Html.ActionLink("Toggle To Restaurant/Bar List", "FoodList", "List", new { @class = "btn btn-primary" })
</div>
<br />


<table class="table">
    <tr>

        <th style="width:15%; text-align:center; vertical-align:middle">
            <center>Name</center>
        </th>
        <th style="width:15%; text-align:center; vertical-align:middle">
            <center>Location</center>
        </th>
        <th style="width:40%; text-align:center; vertical-align:middle">
            <center>Event</center>
        </th>
        <th style="width:15%; text-align:center; vertical-align:middle">
            <center>Time</center>
        </th>
        <th style="width:15%; text-align:center; vertical-align:middle">
            <center>Phone Number</center>
        </th>
    </tr>

    @foreach (var item in Model.OrderBy(a => a.Location.Name))
    {
        <tr>
            <td style="width:15%; text-align:center; vertical-align:middle">
                <center>@item.Location.Name</center>
            </td>
            <td style="width:15%; text-align:center; vertical-align:middle">
                <center>@item.Location.StreetAddress</center>
            </td>
            <td style="width:40%; text-align:center; vertical-align:middle">
                <center>@item.EventDescription</center>
            </td>
            <td style="width:15%; text-align:center; vertical-align:middle">
                <center>@item.TimeConstraint</center>
            </td>
            <td style="width:15%; text-align:center; vertical-align:middle">
                <center>@item.Location.PhoneNumber</center>
            </td>
        </tr>
    }

</table>