@model MKEntertains.Models.Schedule
@{
    ViewBag.Title = "Plan Ahead!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .groupColor {
        color: #272b30;
    }

    .red {
        color: red;
    }
</style>


<h1>@ViewBag.Title</h1>
<br />

<h4>
    Being a member has it's perks!
</h4>
<br />
<center>
    <h5>
        Here you have the ability to plan ahead and schedule a night out with friends or possibly that special someone... We have implemented an automatic email service to remind you the day before your event as well so you'll never miss a beat! Fill in the options below to get your planning started.
    </h5>
</center>

<br />
<center>
    <div class="red">
        <h4>
            Something went wrong with your previous plan ahead request. Please try again.
        </h4>
    </div>
</center>

@using (Html.BeginForm("Index", "PlanAhead", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.HiddenFor(m => m.Id);
    <div class="form-group">
        @Html.LabelFor(m => m.MKEntertainDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.MKEntertainDate, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.MKEntertainDate)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FoodDrinkChoice, new { @class = "col-md-2 control-label" })
        <div class="groupColor col-md-10">
            @Html.DropDownList("FoodDrinkChoice", new SelectList(ViewBag.dealsList), " Food/Drink Location ")
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EntertainmentChoice, new { @class = "col-md-2 control-label" })
            <div class="groupColor col-md-10">
                @Html.DropDownList("EntertainmentChoice", new SelectList(ViewBag.entertainmentList), " Entertainment Location ")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
}